<!-- raw html -->
<style>
    .myGallery {
display: grid;
grid-gap: 50px;
grid-template-columns: fit-content(50%) fit-content(50%) fit-content(50%);
}  
}

img {
    max-width: 100%;
    max-height:100%;
    display: block; 
    object-fit: cover; border-radius: 10px;}
</style>

<div class="myGallery">
    <div>
        <a href="/listen">  <img src="/media/bb.jpg" width="10">
        </a>
    </div>

    <div>
        <a href="/listen">
            <img src="/media/fed-square-xmas2.jpg">
        </a>
    </div>

    <div>
        <a href="/listen">
            <img src="/media/bb.jpg" width="10">
        </a>
    </div>

    <div>
        <a href="/listen">
            <img src="/media/bb.jpg" width="10">
        </a>
    </div>

    <div>
        <a href="/listen">
            <img src="/media/bb.jpg" width="10">
        </a>
    </div>

    <div>
        <a href="/listen">
            <img src="/media/bb.jpg" width="10">
        </a>
    </div>
</div>
