<!-- raw html -->
<style>
.container{
display: grid;
grid-gap: 50px;
grid-template-columns: 1fr 1fr;
align-items: center;
}  

.description {
  display: none;
  position: absolute;

}

img {
    max-width: 100%;
    max-height:100%;
    display: block; 
    object-fit: none;
    transition: all 150ms ease-in-out;
    }

.container > div:hover .description {
  display: block;
  text-align: center;
}

.container > div:hover img {
  opacity: 0.4;
}

.container > div {
  display: flex;
  flex: auto;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #ffffff;
}

</style>

<div class="container">
    <div class="bobby">
        <a href="/listen">  <img src="/media/bb.jpg" width="10"></a>
        <a href="/listen" class=description>Bobby Bége</a>

    </div>

    <div>
        <a href="/listen">
            <img src="/media/bb.jpg" width="10">
        </a>
    </div>

    <div>
        <a href="/listen">
            <img src="/media/bb.jpg" width="10">
        </a>
    </div>

    <div>
        <a href="/listen">
            <img src="/media/bb.jpg" width="10">
        </a>
    </div>

    <div>
        <a href="/listen">
            <img src="/media/bb.jpg" width="10">
        </a>
    </div>
</div>
